.simple-table {
    /* On peut définir une bordure extérieure différente des bordures des cellules */
    /* border: 3px solid darkslategray; */
    /* On peut aussi définir une bordure extérieure de style différent pour chaque côté */
    border-top: 3px solid red;
    border-right: 3px solid green;
    border-bottom: 3px solid blue;
    border-left: 3px solid darkslategray;
    border-collapse: collapse;
    margin: 2rem;
}

.simple-table th {
    border: 1px solid darkslategray;
    padding: 2rem;
}

/* le code :nth-child(2n) désigne les lignes paires */
.simple-table tr:nth-child(2n) {
    background-color: pink;
}

/* le code :nth-child(2n+1) désigne les lignes impaires */
.simple-table tr:nth-child(2n+1) {
    background-color: lightblue;
}

/* Pour que l'entête soit transparent, il faut placer ce bloc après les autres
C'est à cause d'un problème de spécificité
Si on veut régler correctement de problème, il faut changer la structure du code html */
.simple-table tr:first-child {
    background-color: transparent;
}

.simple-table td {
    border: 1px solid darkslategray;
    padding: 2rem;
}

.simple-table td:nth-child(3n) {
    text-align: right;
}

.super-table {
    border-collapse: collapse;
    border: 3px solid darkslategray;
}

.super-table caption {
    font-style: italic;
    font-weight: normal;
    margin-bottom: 1rem;
}

.super-table thead th,
.super-table tbody td,
.super-table tfoot th,
.super-table tfoot td {
    border: 1px solid darkslategray;
    padding: 1rem;
}

.super-table thead tr,
.super-table tfoot th {
    background-color: #eeeeee;
}

.super-table tbody tr:nth-child(2n) {
    background-color: rgba(135, 206, 250, .75);
}

/* Quand la souris est au dessus d'une ligne (impair) de données ou au dessus d'une cellule de données dans le pied de page,
la couleur devient plus foncée */
.super-table tbody tr:nth-child(2n+1):hover,
.super-table tfoot td:hover {
    background-color: rgba(0, 0, 0, .1);
}

/* Quand la souris est au dessus d'une ligne (pair) de données,
la couleur devient plus foncée */
.super-table tbody tr:nth-child(2n):hover {
    background-color: rgba(135, 206, 250, 1);
}
